<launch>
  <arg name="input_cloud_topic" default="/camera/depth/points" />
  <arg name="target_frame" default="world" />
  <arg name="run_plotter" default="true" />
  <arg name="run_cluster_plotter" default="false" />
  <arg name="run_fuser" default="true" />

  <!-- Fused map topics/params -->
  <arg name="map_pose_topic" default="/tree_map_poses" />
  <arg name="map_id_topic" default="/tree_map_ids" />
  <arg name="map_array_topic" default="/tree_map_full" />
  <arg name="map_candidate_pose_topic" default="/tree_map_candidates" />
  <arg name="map_candidate_id_topic" default="/tree_map_candidate_ids" />
  <arg name="map_candidate_array_topic" default="/tree_map_candidate_full" />
  <arg name="map_marker_topic" default="/tree_map_markers" />
  <arg name="fuser_csv_output_path" default="/tmp/tree_map_final.csv" />
  <arg name="fuser_json_output_path" default="/tmp/tree_map_final.json" />
  <arg name="fuser_history_csv_output_path" default="" />
  <arg name="detector_publish_debug_clusters" default="$(arg run_cluster_plotter)" />
  <arg name="cluster_points_topic" default="/tree_detector_cluster_points" />
  <arg name="cluster_labels_topic" default="/tree_detector_cluster_labels" />
  <arg name="detection_radius_topic" default="/tree_detection_radii" />
  <arg name="detector_history_csv_output_path" default="" />
  <arg name="detector_output_array_topic" default="/tree_detections_full" />
  <arg name="experiment_seed" default="-1" />

  <!-- Plotter -->
  <arg name="fixed_axes" default="false" />
  <arg name="x_min" default="-10.0" />
  <arg name="x_max" default="10.0" />
  <arg name="y_min" default="-8.0" />
  <arg name="y_max" default="7.0" />
  <arg name="tick_step" default="5.0" />
  <arg name="route_pose_topic" default="/pose" />
  <arg name="cluster_plotter_snapshot_dir" default="/tmp/tree_cluster_snapshots" />

  <!-- Detector -->
  <include file="$(find tree_identifier)/launch/tree_detector.launch">
    <arg name="input_cloud_topic" value="$(arg input_cloud_topic)" />
    <arg name="target_frame" value="$(arg target_frame)" />
    <arg name="output_topic" value="/tree_detections" />
    <arg name="output_array_topic" value="$(arg detector_output_array_topic)" />
    <arg name="marker_topic" value="/tree_detections_raw_markers" />
    <arg name="publish_debug_clusters" value="$(arg detector_publish_debug_clusters)" />
    <arg name="cluster_points_topic" value="$(arg cluster_points_topic)" />
    <arg name="cluster_labels_topic" value="$(arg cluster_labels_topic)" />
    <arg name="detection_radius_topic" value="$(arg detection_radius_topic)" />
    <arg name="history_csv_output_path" value="$(arg detector_history_csv_output_path)" />
    <arg name="experiment_seed" value="$(arg experiment_seed)" />
  </include>

  <!-- Tracker/Identifier -->
  <include file="$(find tree_identifier)/launch/tree_id_tracker.launch">
    <arg name="input_topic" value="/tree_detections" />
    <arg name="input_array_topic" value="$(arg detector_output_array_topic)" />
    <arg name="output_topic" value="/tree_detections_tracked" />
    <arg name="output_array_topic" value="/tree_detections_tracked_full" />
    <arg name="id_topic" value="/tree_detection_ids" />
    <arg name="marker_topic" value="/tree_detection_markers" />
  </include>

  <!-- Long-term tree map -->
  <include if="$(arg run_fuser)" file="$(find tree_identifier)/launch/tree_map_fuser.launch">
    <arg name="array_topic" value="/tree_detections_tracked_full" />
    <arg name="pose_topic" value="/tree_detections_tracked" />
    <arg name="id_topic" value="/tree_detection_ids" />
    <arg name="output_topic" value="$(arg map_pose_topic)" />
    <arg name="output_id_topic" value="$(arg map_id_topic)" />
    <arg name="output_array_topic" value="$(arg map_array_topic)" />
    <arg name="candidate_topic" value="$(arg map_candidate_pose_topic)" />
    <arg name="candidate_id_topic" value="$(arg map_candidate_id_topic)" />
    <arg name="candidate_array_topic" value="$(arg map_candidate_array_topic)" />
    <arg name="marker_topic" value="$(arg map_marker_topic)" />
    <arg name="csv_output_path" value="$(arg fuser_csv_output_path)" />
    <arg name="json_output_path" value="$(arg fuser_json_output_path)" />
    <arg name="history_csv_output_path" value="$(arg fuser_history_csv_output_path)" />
  </include>

  <!-- Live XY plot (optional) -->
  <include if="$(arg run_plotter)" file="$(find tree_identifier)/launch/tree_xy_plotter.launch">
    <arg name="pose_topic" value="/tree_detections_tracked" />
    <arg name="id_topic" value="/tree_detection_ids" />
    <arg name="fixed_axes" value="$(arg fixed_axes)" />
    <arg name="x_min" value="$(arg x_min)" />
    <arg name="x_max" value="$(arg x_max)" />
    <arg name="y_min" value="$(arg y_min)" />
    <arg name="y_max" value="$(arg y_max)" />
    <arg name="tick_step" value="$(arg tick_step)" />
    <arg name="enable_map_overlay" value="$(arg run_fuser)" />
    <arg name="map_pose_topic" value="$(arg map_pose_topic)" />
    <arg name="map_id_topic" value="$(arg map_id_topic)" />
    <arg name="map_candidate_pose_topic" value="$(arg map_candidate_pose_topic)" />
    <arg name="map_candidate_id_topic" value="$(arg map_candidate_id_topic)" />
    <arg name="route_pose_topic" value="$(arg route_pose_topic)" />
  </include>

  <!-- Live Cluster Plot (optional, can run in parallel with tree_xy_plotter) -->
  <include if="$(arg run_cluster_plotter)" file="$(find tree_identifier)/launch/tree_cluster_xy_plotter.launch">
    <arg name="cluster_points_topic" value="$(arg cluster_points_topic)" />
    <arg name="cluster_labels_topic" value="$(arg cluster_labels_topic)" />
    <arg name="use_raw_array_input" value="true" />
    <arg name="raw_array_topic" value="$(arg detector_output_array_topic)" />
    <arg name="raw_pose_topic" value="/tree_detections" />
    <arg name="raw_radius_topic" value="$(arg detection_radius_topic)" />
    <arg name="fixed_axes" value="$(arg fixed_axes)" />
    <arg name="x_min" value="$(arg x_min)" />
    <arg name="x_max" value="$(arg x_max)" />
    <arg name="y_min" value="$(arg y_min)" />
    <arg name="y_max" value="$(arg y_max)" />
    <arg name="tick_step" value="$(arg tick_step)" />
    <arg name="enable_map_overlay" value="$(arg run_fuser)" />
    <arg name="map_pose_topic" value="$(arg map_pose_topic)" />
    <arg name="map_id_topic" value="$(arg map_id_topic)" />
    <arg name="map_candidate_pose_topic" value="$(arg map_candidate_pose_topic)" />
    <arg name="map_candidate_id_topic" value="$(arg map_candidate_id_topic)" />
    <arg name="snapshot_dir" value="$(arg cluster_plotter_snapshot_dir)" />
  </include>
</launch>
