<launch>
  <arg name="input_cloud_topic" default="/camera/depth/points" />
  <arg name="target_frame" default="world" />
  <arg name="run_plotter" default="true" />
  <arg name="refresh_ms" default="500" />
  <arg name="show_xy_in_label" default="true" />
  <arg name="fixed_axes" default="true" />
  <arg name="x_min" default="-25.0" />
  <arg name="x_max" default="25.0" />
  <arg name="y_min" default="-28.0" />
  <arg name="y_max" default="20.0" />
  <arg name="tick_step" default="5.0" />
  <arg name="log_coords" default="true" />
  <arg name="log_throttle_sec" default="2.0" />
  <arg name="accumulate_unique" default="true" />
  <arg name="cache_by_id" default="true" />
  <arg name="dedup_dist" default="1.0" />
  <arg name="update_cached_position" default="false" />
  <arg name="log_only_on_new" default="false" />

  <!-- Detector -->
  <include file="$(find tree_identifier)/launch/tree_detector.launch">
    <arg name="input_cloud_topic" value="$(arg input_cloud_topic)" />
    <arg name="target_frame" value="$(arg target_frame)" />
    <arg name="output_topic" value="/tree_detections" />
    <arg name="marker_topic" value="/tree_detections_raw_markers" />
  </include>

  <!-- Tracker/Identifier -->
  <include file="$(find tree_identifier)/launch/tree_id_tracker.launch">
    <arg name="input_topic" value="/tree_detections" />
    <arg name="output_topic" value="/tree_detections_tracked" />
    <arg name="id_topic" value="/tree_detection_ids" />
    <arg name="marker_topic" value="/tree_detection_markers" />
  </include>

  <!-- Live XY plot (optional) -->
  <include if="$(arg run_plotter)" file="$(find tree_identifier)/launch/tree_xy_plotter.launch">
    <arg name="pose_topic" value="/tree_detections_tracked" />
    <arg name="id_topic" value="/tree_detection_ids" />
    <arg name="refresh_ms" value="$(arg refresh_ms)" />
    <arg name="show_xy_in_label" value="$(arg show_xy_in_label)" />
    <arg name="fixed_axes" value="$(arg fixed_axes)" />
    <arg name="x_min" value="$(arg x_min)" />
    <arg name="x_max" value="$(arg x_max)" />
    <arg name="y_min" value="$(arg y_min)" />
    <arg name="y_max" value="$(arg y_max)" />
    <arg name="tick_step" value="$(arg tick_step)" />
    <arg name="log_coords" value="$(arg log_coords)" />
    <arg name="log_throttle_sec" value="$(arg log_throttle_sec)" />
    <arg name="accumulate_unique" value="$(arg accumulate_unique)" />
    <arg name="cache_by_id" value="$(arg cache_by_id)" />
    <arg name="dedup_dist" value="$(arg dedup_dist)" />
    <arg name="update_cached_position" value="$(arg update_cached_position)" />
    <arg name="log_only_on_new" value="$(arg log_only_on_new)" />
  </include>
</launch>
