<launch>
  <arg name="config_file" default="$(find tree_identifier)/config/tree_id_tracker_realtime.yaml" />
  <arg name="input_topic" default="/tree_detections" />
  <arg name="input_array_topic" default="/tree_detections_full" />
  <arg name="use_array_input" default="true" />
  <arg name="output_topic" default="/tree_detections_tracked" />
  <arg name="output_array_topic" default="/tree_detections_tracked_full" />
  <arg name="id_topic" default="/tree_detection_ids" />
  <arg name="marker_topic" default="/tree_detection_markers" />

  <node pkg="tree_identifier" type="tree_id_tracker.py" name="tree_id_tracker" output="screen">
    <rosparam command="load" file="$(arg config_file)" />
    <param name="use_array_input" value="$(arg use_array_input)" />
    <param name="input_topic" value="$(arg input_topic)" />
    <param name="input_array_topic" value="$(arg input_array_topic)" />
    <param name="output_topic" value="$(arg output_topic)" />
    <param name="output_array_topic" value="$(arg output_array_topic)" />
    <param name="id_topic" value="$(arg id_topic)" />
    <param name="marker_topic" value="$(arg marker_topic)" />
  </node>
</launch>
