<launch>
  <arg name="config_file" default="$(find tree_identifier)/config/tree_map_fuser_realtime.yaml" />
  <arg name="use_array_input" default="true" />
  <arg name="array_topic" default="/tree_detections_tracked_full" />
  <arg name="pose_topic" default="/tree_detections_tracked" />
  <arg name="id_topic" default="/tree_detection_ids" />

  <arg name="output_topic" default="/tree_map_poses" />
  <arg name="output_id_topic" default="/tree_map_ids" />
  <arg name="output_array_topic" default="/tree_map_full" />
  <arg name="candidate_topic" default="/tree_map_candidates" />
  <arg name="candidate_id_topic" default="/tree_map_candidate_ids" />
  <arg name="candidate_array_topic" default="/tree_map_candidate_full" />
  <arg name="marker_topic" default="/tree_map_markers" />

  <arg name="csv_output_path" default="/tmp/tree_map_final.csv" />
  <arg name="json_output_path" default="/tmp/tree_map_final.json" />
  <arg name="history_csv_output_path" default="" />

  <node pkg="tree_identifier" type="tree_map_fuser.py" name="tree_map_fuser" output="screen">
    <rosparam command="load" file="$(arg config_file)" />
    <param name="use_array_input" value="$(arg use_array_input)" />
    <param name="array_topic" value="$(arg array_topic)" />
    <param name="pose_topic" value="$(arg pose_topic)" />
    <param name="id_topic" value="$(arg id_topic)" />
    <param name="output_topic" value="$(arg output_topic)" />
    <param name="output_id_topic" value="$(arg output_id_topic)" />
    <param name="output_array_topic" value="$(arg output_array_topic)" />
    <param name="candidate_topic" value="$(arg candidate_topic)" />
    <param name="candidate_id_topic" value="$(arg candidate_id_topic)" />
    <param name="candidate_array_topic" value="$(arg candidate_array_topic)" />
    <param name="marker_topic" value="$(arg marker_topic)" />
    <param name="csv_output_path" value="$(arg csv_output_path)" />
    <param name="json_output_path" value="$(arg json_output_path)" />
    <param name="history_csv_output_path" value="$(arg history_csv_output_path)" />
  </node>
</launch>
